@using JoePizza.Models;
@model Order
@{
    ViewData["Title"] = "Order Confirmation";
}

<br />
<div class="container mt-5 text-center">
    <div class="row">
        <div class="col-12">
            <h2 class="text-info text-center" id="orderconfirmation">Order Confirmation</h2>
        </div>
    </div>

    <div>
        <h3>Your order has been placed</h3>
        <h4>Order Details:</h4>
        <p id="orderid">Order Id: @Model.OrderID</p>
        <p id="amount">Amount: <span>&#8377;</span>@Model.Amount</p>
        <table class="table table-striped border" id="orderTable">
            <thead>
                <tr class="table-info">
                    <th>Type Of Pizza</th>
                    <th>Topping</th>
                    <th>Size</th>
                    <th>Quantity</th>
                   
                </tr>
            </thead>
            <tbody>
           
                    @foreach (var o in Model.OrderDetails)
                    {
                        <tr>
                        <td>@o.Pizzas?.PizzaName</td>
                        <td>@o.Toppings?.ToppingsName</td>
                        <td>@o.Size?.PizzaSize</td>
                        <td>@o.Quantity</td>
                        </tr>
                    }
                    
                
            </tbody>
        </table>
    </div>
</div>


@section scripts{
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
}

